@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,500&family=Marmelad&display=swap');
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

/* HOME */

.homePage {
  padding-bottom: .1rem;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Marmelad', sans-serif;
  color: #333;
  font-size: 1.3rem;
  padding: 2rem;
  padding-bottom: 0rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.home2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'Marmelad', sans-serif;
  color: #333;
  font-size: 1.3rem;
  padding: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 7rem;
}

.home h1 {
  font-family: 'Marmelad', sans-serif;
  align-self: center;
  font-size: 2.5rem;
  font-style: italic;
  color: black;
  margin-bottom: 2rem;
}

.homeimage {
  display: flex;
  flex-direction: row;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  border-bottom: 2px solid black;
  min-width: 100%;
  background-image: url(./images/homeimage.jpg);
  margin-top: 9.5rem;
  height: 25rem;
}

.button {
  display: inline-block;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  letter-spacing: .1rem;
  text-decoration: none;
  background-color: #FF6666;
  color: #FFF;
  border-radius: 7px;
  border: 1px solid #666;
}

.button:hover {
  background-color: #666;
  text-decoration: underline;
  color: #FFF;
  border: 1px solid white;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background: #FF6666;
  padding: .3rem;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 999;
}

.title {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 3px black;
  letter-spacing: .7rem;
  margin-left: 1.5rem;
}

.slogan {
  font-family: 'Marmelad', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 3px black;
  font-style: italic;
  letter-spacing: .2rem;
  margin-right: 1.5rem;
}

/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Balsamic Sans', sans-serif;
  background: #CCC;
  padding: 1rem;
  position: fixed;
  z-index: 1000;
  top: 87px;
  right: 0px;
  left: 0px;
  border-bottom: 1px solid black;
}

.navbar .button {
  display: inline-block;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  letter-spacing: .1rem;
  text-decoration: none;
  background-color: #FF6666;
  color: #FFF;
  border-radius: 7px;
  border: 1px solid #666;
}

.navbar .button:hover {
  background-color: #666;
  color: #FFF;
  border: 1px solid white;
}

/* LOGIN */

.login {
  margin-top: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Marmelad', sans-serif;
  color: #333;
  font-size: 1.3rem;
  padding: 2rem;
  padding-bottom: 0rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.login-card {
  display: flex;
  background-color: #EEE;
  min-width: 400px;
  flex-direction: column;
  font-size: 1rem;
  border: 1px solid #999;
  box-shadow: 5px 5px 10px 1px #999;
  border-radius: 7px;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 7rem;
}

.login-card h2 {
  height: 2.7rem;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.8rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  letter-spacing: .1rem;
}

.login-card label {
  height: 2.7rem;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  letter-spacing: .1rem;
}

.login-card input {
  height: 2.7rem;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  letter-spacing: .1rem;
  border-radius: 7px;
  border: 1px solid #FF6666;
}

.login-card button {
  display: inline-block;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: 1rem;
  letter-spacing: .1rem;
  text-decoration: none;
  background-color: #FF6666;
  color: #FFF;
  border-radius: 7px;
  border: 1px solid #666;
}

.login-card button:hover {
  background-color: #666;
  color: #FFF;
  border: 1px solid white;
}

.login-card .button {
  display: flex;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: 1rem;
  letter-spacing: .1rem;
  text-decoration: none;
  background-color: #CCC;
  color: #FF3333;
  border-radius: 7px;
  border: 1px solid #666;
}

.login-card .button:hover {
  background-color: #FF6666;
  color: #FFF;
  border: 1px solid white;
}

.login-card .alert {
  font-size: 1.1rem;
  color: #FF0000;
}

/* SIGN UP */

.signup {
  margin-top: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Marmelad', sans-serif;
  color: #333;
  font-size: 1.3rem;
  padding: 2rem;
  padding-bottom: 0rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.signup-card {
  display: flex;
  background-color: #EEE;
  min-width: 400px;
  flex-direction: column;
  font-size: 1rem;
  border: 1px solid #999;
  box-shadow: 5px 5px 10px 1px #999;
  border-radius: 7px;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 7rem;
}

.signup-card h2 {
  height: 2.7rem;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.8rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  letter-spacing: .1rem;
}

.signup-card label {
  height: 2.7rem;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  letter-spacing: .1rem;
}

.signup-card input {
  height: 2.7rem;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  letter-spacing: .1rem;
  border-radius: 7px;
  border: 1px solid #FF6666;
}

.signup-card button {
  display: inline-block;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: 1rem;
  letter-spacing: .1rem;
  text-decoration: none;
  background-color: #FF6666;
  color: #FFF;
  border-radius: 7px;
  border: 1px solid #666;
}

.signup-card button:hover {
  background-color: #666;
  color: #FFF;
  border: 1px solid white;
}

.signup-card .button {
  display: flex;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: 1rem;
  letter-spacing: .1rem;
  text-decoration: none;
  background-color: #CCC;
  color: #FF3333;
  border-radius: 7px;
  border: 1px solid #666;
}

.signup-card .button:hover {
  background-color: #FF6666;
  color: #FFF;
  border: 1px solid white;
}

.signup-card .alert {
  font-size: 1.1rem;
  color: #FF0000;
}

/* ALL PRODUCTS */

.all-products {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  font-family: 'Marmelad', sans-serif;
  color: #333;
  padding: 2rem;
  padding-bottom: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 10rem;
}

.all-products .product-card {
  display: flex;
  width: 270px;
  flex-direction: column;
  align-self: flex-end;
  font-size: 1rem;
  border: 1px solid #999;
  box-shadow: 5px 5px 10px 1px #999;
  border-radius: 7px;
  padding: 1rem;
  margin: 1rem;
}

.all-products .hidden {
  display: none;
  border: none;
}

.all-products .product-card h3 {
  margin-bottom: .8rem;
}

.all-products .thumbnail {
  width: 230px;
  padding: 2rem;
}

/* PRODUCT */

.product {
  margin-top: 9.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: top;
  font-family: 'Marmelad', sans-serif;
  color: #333;
  padding: 2rem;
  padding-bottom: 0rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
}

.product .product-card {
  display: flex;
  flex-basis: 900px;
  flex-direction: row;
  font-size: 1rem;
  border: 1px solid #999;
  box-shadow: 5px 5px 10px 1px #999;
  border-radius: 7px;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 7rem;
}

.product .product-card h2 {
  margin-bottom: .8rem;
  margin-top: 2rem;
}

.image {
  width: 460px;
  padding: 2rem;
}

.product .product-card .description {
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: #333;
}

.product .product-card button {
  display: inline-block;
  width: 95%;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: 1rem;
  letter-spacing: .1rem;
  text-decoration: none;
  background-color: #FF6666;
  color: #FFF;
  border: 1px solid white;
  border-radius: 7px;
}

.product .product-card button:hover {
  background-color: #000;
  color: #FFF;
  border: 1px solid #666;
}

.product .product-card .button {
  display: inline-block;
  width: 95%;
  justify-content: center;
  text-align: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: 1rem;
  letter-spacing: .1rem;
  text-decoration: none;
  background-color: #CCC;
  color: #FF3333;
  border-radius: 7px;
  border: 1px solid #666;
}

.product .product-card .button:hover {
  background-color: #000;
  color: #FFF;
  border: 1px solid white;
}

#quantity {
  width: 3rem;
  margin-left: 1rem;
  border: solid black;
  padding: .5rem;
  border-radius: 5px;
}

.product-card .alert {
  font-size: 1.3rem;
  color: #FF0000;
}

/* USER */

.user {
  margin-top: 9.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: top;
  font-family: 'Marmelad', sans-serif;
  color: #333;
  padding: 2rem;
  padding-bottom: 0rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
}

.user .user-card {
  display: flex;
  flex-basis: 900px;
  flex-direction: row;
  font-size: 1rem;
  border: 1px solid #999;
  box-shadow: 5px 5px 10px 1px #999;
  border-radius: 7px;
  padding: 1rem;
  margin: 1rem;
}

.user .user-card h2 {
  margin-bottom: .8rem;
  margin-top: .5rem;
}

.user .user-card .description {
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: #333;
}

.user .thumbnail {
  background-image: url(./images/defaultimage.png);
  width: 300px;
  height: 300px;
  margin-top: 2rem;
}

.userdata {
  width: 350px;
  padding: 1.5rem;
}

.orderhistory {
  width: 550px;
  padding: 1.5rem;
}

/* CART */

.cart {
  margin-top: 9.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Marmelad', sans-serif;
  color: #333;
  font-size: 1.3rem;
  padding: 2rem;
  padding-bottom: 7rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 10rem;
}

.cart .cart-card {
  display: flex;
  width: 600px;
  flex-direction: column;
  font-size: 1rem;
  border: 1px solid #999;
  box-shadow: 5px 5px 10px 1px #999;
  border-radius: 7px;
  padding: 3rem;
  margin: 1rem;
  margin-bottom: .5rem;
}

.cart .cart-card2 {
  display: flex;
  width: 600px;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.3rem;
  border: 1px solid #999;
  background-color: #EEE;
  box-shadow: 5px 5px 10px 1px #999;
  border-radius: 7px;
  padding: 2rem;
  margin: .3rem;
  margin-top: 0rem;
}

.cart .price {
  display: flex;
  width: 200px;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.3rem;
}

.cart h3 {
  margin-top: 1rem;
}

.cart .cart-card .description {
  margin-bottom: 3rem;
  color: #339933;
  font-size: 1.2rem;
}

.cart .cart-card .thumbnail {
  width: 100px;
  height: 100px;
  margin-bottom: 1.5rem;
}


/* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  letter-spacing: .15rem;
  color: white;
  justify-content: space-around;
  background: #999;
  padding: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  border-top: 2px solid #FF6666;
}

.footer a {
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  letter-spacing: .15rem;
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: #000;
  text-decoration: underline;
}

.logo {
  width: 50px;
  height: 50px;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 1000;
}

#payButton {
  background-color: rgb(118, 190, 118);
  margin-top: 1.5rem;
}
