@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,500&family=Marmelad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-image: url(./images/homeimage2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 112%;
  background-blend-mode: lighten;
  background-color: rgba( 75, 50, 50, 0.3);
}

/* HOME */

.home {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: 'Marmelad', sans-serif;
  color: #FFF;
  font-size: 1.3rem;
  padding: 2rem;
  padding-bottom: 0rem;
  margin-top: 10rem;
  margin-left: 3rem;
}

.home-card {
  display: flex;
  min-width: 625px;
  max-width: 625px;
  flex-direction: column;
  font-size: 1.3rem;
  border-radius: 7px;
  padding: 1rem;
  margin-left: 1rem;
  margin-bottom: 5rem;
}

.home-card p {
  color: #FFF;
  text-shadow: 3px 3px 3px #333;
}

.home2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: 'Marmelad', sans-serif;
  color: #333;
  font-size: 1.1rem;
  padding: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.home h1 {
  font-family: 'Niconne', cursive;
  align-self: left;
  text-shadow: 3px 3px 3px #333;
  font-size: 3rem;
  letter-spacing: .2rem;
  font-style: italic;
  color: #FFF;
  margin-bottom: 2rem;
}

.homeimage {
  display: flex;
  flex-direction: row;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  border-bottom: 2px solid black;
  min-width: 100%;
  background-image: url(./images/homeimage.jpg);
  margin-top: 9.5rem;
  height: 25rem;
}

.home-card .button {
  display: inline-block;
  font-family: 'Marmelad', sans-serif;
  align-items: left;
  width: 40%;
  font-size: 1.1rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  letter-spacing: .1rem;
  text-decoration: none;
  background-color: #FF8A06;
  color: #FFF;
  border-radius: 7px;
  border: 1px solid #666;
}

.home-card .button:hover {
  background-color: #666;
  color: #FFF;
  border: 1px solid white;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: .2rem;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 999;
  background-color: rgb(0, 0, 0, .85);
}

.title {
  font-family: 'Niconne', cursive;
  font-size: 4.5rem;
  font-style: italic;
  color: #FFF;
  text-shadow: 3px 3px 3px #333;
  letter-spacing: .3rem;
  margin-left: 2.5rem;
}

.slogan {
  font-family: 'Marmelad', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 3px #333;
  font-style: italic;
  letter-spacing: .2rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
}

/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Balsamic Sans', sans-serif;
  padding: 1rem;
  padding-top: 1.3rem;
  position: fixed;
  z-index: 1000;
  top: 87px;
  right: 0px;
  left: 0px;
}

.navbar .button {
  display: inline-block;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  letter-spacing: .1rem;
  text-decoration: none;
  background-color: #666;
  color: #FFF;
  border-radius: 7px;
  border: 1px solid #666;
}

.navbar .button:hover {
  background-color: #FF8A06;
  color: #FFF;
  border: 1px solid white;
}

/* LOGIN */

.login {
  margin-top: 11rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: 'Marmelad', sans-serif;
  color: #333;
  font-size: 1.3rem;
  padding: 2rem;
  padding-bottom: 0rem;
  margin-left: 4rem;
}

.login-card {
  display: flex;
  min-width: 400px;
  max-width: 400px;
  flex-direction: column;
  font-size: 1rem;
  border: 1px solid #999;
  box-shadow: 5px 5px 10px 1px #999;
  border-radius: 7px;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 4rem;
}

.login-card h2 {
  height: 2.7rem;
  color: #FFF;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.8rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  letter-spacing: .1rem;
}

.login-card label {
  height: 2.7rem;
  color: #FFF;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  letter-spacing: .1rem;
}

.login-card input {
  height: 2.7rem;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  letter-spacing: .1rem;
  border-radius: 7px;
  border: 1px solid #FF8A06;
}

.login-card button {
  display: inline-block;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: 1rem;
  letter-spacing: .1rem;
  text-decoration: none;
  background-color: #FF8A06;
  color: #FFF;
  border-radius: 7px;
  border: 1px solid #666;
}

.login-card button:hover {
  background-color: #666;
  color: #FFF;
  border: 1px solid white;
}

.login-card .button {
  display: flex;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: 1rem;
  letter-spacing: .1rem;
  text-decoration: none;
  background-color: #CCC;
  color: #FF8A06;
  border-radius: 7px;
  border: 1px solid #666;
}

.login-card .button:hover {
  background-color: #FF8A06;
  color: #FFF;
  border: 1px solid white;
}

.login-card .alert {
  font-size: 1.1rem;
  color: #FF8A06;
  margin-left: 1rem;
}

/* SIGN UP */

.signup {
  margin-top: 11rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: 'Marmelad', sans-serif;
  color: #333;
  font-size: 1.3rem;
  padding: 2rem;
  padding-bottom: 0rem;
  margin-left: 4rem;
  margin-bottom: 7rem;
}

.signup-card {
  display: flex;
  min-width: 400px;
  max-width: 400px;
  flex-direction: column;
  font-size: 1rem;
  border: 1px solid #999;
  box-shadow: 5px 5px 10px 1px #999;
  border-radius: 7px;
  padding: 1rem;
  margin: 1rem;
}

.signup-card h2 {
  height: 2.7rem;
  justify-content: center;
  color: #FFF;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.8rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  letter-spacing: .1rem;
}

.signup-card label {
  height: 2.7rem;
  justify-content: center;
  color: #FFF;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  letter-spacing: .1rem;
}

.signup-card input {
  height: 2.7rem;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  letter-spacing: .1rem;
  border-radius: 7px;
  border: 1px solid #FF8A06;
}

.signup-card button {
  display: inline-block;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: 1rem;
  letter-spacing: .1rem;
  text-decoration: none;
  background-color:#FF8A06;
  color: #FFF;
  border-radius: 7px;
  border: 1px solid #666;
}

.signup-card button:hover {
  background-color: #666;
  color: #FFF;
  border: 1px solid white;
}

.signup-card .button {
  display: flex;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: 1rem;
  letter-spacing: .1rem;
  text-decoration: none;
  background-color: #CCC;
  color: #FF8A06;
  border-radius: 7px;
  border: 1px solid #666;
}

.signup-card .button:hover {
  background-color: #FF8A06;
  color: #FFF;
  border: 1px solid white;
}

.signup-card .alert {
  font-size: 1.1rem;
  color: #FF8A06;
  margin-left: 1rem;
}

/* ALL PRODUCTS */

.all-products {
  margin-top: 11rem;
  max-height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  font-family: 'Marmelad', sans-serif;
  color: #333;
  padding: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  overflow-x: scroll;
  margin-bottom: 5rem;
}

.all-products .product-card {
  display: flex;
  min-width: 300px;
  max-width: 300px;
  background-color: #FFF;
  flex-direction: column;
  align-self: flex-end;
  font-size: 1rem;
  border: 1px solid #999;
  box-shadow: 5px 5px 10px 1px #999;
  border-radius: 7px;
  padding: 1rem;
  margin: 1rem;
}

.all-products .hidden {
  display: none;
  border: none;
}

.all-products .product-card h3 {
  margin-bottom: .8rem;
}

.all-products .thumbnail {
  width: 230px;
  padding: 2rem;
}

/* PRODUCT */

.product {
  margin-top: 9.5rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  align-items: top;
  font-family: 'Marmelad', sans-serif;
  color: #333;
  padding: 2rem;
  padding-bottom: 0rem;
  margin-left: 3rem;
  margin-bottom: 7rem;
}

.product .product-card {
  display: flex;
  flex-basis: 900px;
  flex-direction: row;
  font-size: 1rem;
  border: 1px solid #999;
  background-color: #FFF;
  box-shadow: 5px 5px 10px 1px #999;
  border-radius: 7px;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 6rem;
}

.product .product-card h2 {
  margin-bottom: .8rem;
  margin-top: 2rem;
}

.image {
  width: 460px;
  padding: 2rem;
}

.product .product-card .description {
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: #333;
}

.product .product-card button {
  display: inline-block;
  width: 95%;
  justify-content: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: 1rem;
  letter-spacing: .1rem;
  text-decoration: none;
  background-color: #FF8A06;
  color: #FFF;
  border: 1px solid white;
  border-radius: 7px;
}

.product .product-card button:hover {
  background-color: #000;
  color: #FFF;
  border: 1px solid #666;
}

.product .product-card .button {
  display: inline-block;
  width: 95%;
  justify-content: center;
  text-align: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: 1rem;
  letter-spacing: .1rem;
  text-decoration: none;
  background-color: #CCC;
  color: #FF8A06;
  border-radius: 7px;
  border: 1px solid #666;
}

.product .product-card .button:hover {
  background-color: #000;
  color: #FFF;
  border: 1px solid white;
}

#quantity {
  width: 3rem;
  margin-left: 1rem;
  border: solid black;
  padding: .5rem;
  border-radius: 5px;
}

.product-card .alert {
  font-size: 1.3rem;
  color: #ff6666;
}

/* USER */

.user {
  margin-top: 9.5rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  align-items: top;
  font-family: 'Marmelad', sans-serif;
  color: #333;
  padding: 2rem;
  padding-bottom: 0rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 7rem;
}

.user .user-card {
  display: flex;
  min-width: 900px;
  max-width: 900px;
  background: #FFF;
  flex-direction: row;
  font-size: 1rem;
  border: 1px solid #999;
  box-shadow: 5px 5px 10px 1px #999;
  border-radius: 7px;
  padding: 1rem;
  margin: 1rem;
}

.user .user-card h2 {
  margin-bottom: .8rem;
  margin-top: .5rem;
}

.user .user-card .description {
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: #333;
}

.user .thumbnail {
  background-image: url(./images/defaultimage.png);
  width: 300px;
  height: 300px;
  margin-top: 2rem;
}

.userdata {
  width: 350px;
  padding: 1.5rem;
}

.orderhistory {
  width: 550px;
  padding: 1.5rem;
}

.user .user-card .button {
  display: inline-block;
  width: 95%;
  justify-content: center;
  text-align: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: 1rem;
  letter-spacing: .1rem;
  text-decoration: none;
  color: #FFF;
  background-color: #FF8A06;
  border-radius: 7px;
  border: 1px solid #666;
}

.user .user-card .button:hover {
  background-color: #000;
  color: #FFF;
  border: 1px solid white;
}

/* CART */

.cart {
  margin-top: 9.5rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: 'Marmelad', sans-serif;
  color: #333;
  font-size: 1.3rem;
  padding: 2rem;
  padding-bottom: 7rem;
  margin-left: 4rem;
  margin-bottom: 5rem;
}

.cart .cart-card {
  display: flex;
  width: 600px;
  background: #FFF;
  flex-direction: column;
  font-size: 1rem;
  border: 1px solid #999;
  box-shadow: 5px 5px 10px 1px #999;
  border-radius: 7px;
  padding: 3rem;
  margin: 1rem;
  margin-bottom: .5rem;
}

.cart .cart-card2 {
  display: flex;
  width: 600px;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.3rem;
  border: 1px solid #999;
  box-shadow: 5px 5px 10px 1px #999;
  border-radius: 7px;
  padding: 2rem;
  margin: 1rem;
  margin-top: 0rem;
  background-color: rgb(0, 0, 0, .9);
}

.cart .price {
  display: flex;
  width: 200px;
  color: #FFF;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.3rem;
}

.cart h3 {
  margin-top: 1rem;
}

.cart .cart-card .description {
  margin-bottom: 1rem;
  color: #339933;
  font-size: 1.2rem;
}

.cart .cart-card .thumbnail {
  width: 120px;
  height: 120px;
  margin-bottom: 1rem;
}

.cart .cart-card button {
  display: inline-block;
  width: 15%;
  justify-content: flex-start;
  font-family: 'Marmelad', sans-serif;
  font-size: .7rem;
  padding: .3rem;
  margin-bottom: 2rem;
  letter-spacing: .1rem;
  text-decoration: none;
  background-color:#FF8A06;
  color: #FFF;
  border-radius: 7px;
  border: 1px solid #666;
}

.cart .cart-card button:hover {
  background-color: #000;
  color: #FFF;
  border: 1px solid white;
}

.paybutton {
  background-color:#66AA66;
  margin-top: 1.5rem;
  border-radius: 7px;
  font-size: 1.2rem;
  padding: .3rem;
  border: 1px solid #FFF;
  text-align: center;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  padding: .6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: 1rem;
  letter-spacing: .1rem;
  text-decoration: none;
  color: #FFF;
}

.paybutton:hover {
  background-color: #333;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  letter-spacing: .15rem;
  color: white;
  justify-content: space-around;
  background: #000;
  padding: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.footer a {
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  letter-spacing: .15rem;
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: #FF8A06;
  text-decoration: underline;
}

.logo {
  width: 50px;
  height: 50px;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 1000;
}

/* THANK YOU */

.thankyou {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: 'Marmelad', sans-serif;
  color: #FFF;
  font-size: 1.7rem;
  padding: 2rem;
  padding-bottom: 0rem;
  margin-left: 4rem;
}
